= react_component 'Calendaries', calendaries: CalendariesSerializer.new( @calendaries, total: @calendaries.total_count, page: @page, locales: @locales, serializer: Admin::CalendarySerializer ),
                                 locales: @locales
