= react_component 'Dashboard', locales: @locales,
                               client_id: Rails.application.secrets.github[:client_id],
                               redirect_url: Rails.application.secrets.github[:redirect_url],
                               login: session['login'],
                               name: session['name'],
                               avatar_url: session['avatar_url'],
                               location: session['location'],
                               email: session['email'],
                               info: session['info']
