html {
   header {
      .nav-wrapper {
         &.admin {
            //TODO fix it for admin page on how to apply 'flex' display
            display: inline;
         }
      }
   }

   main {
      & > .container {
         &.admin {
            width: 95%;
            padding: 0;
         }
      }
   }
}
