@import "defines";

@mixin s {
   html {
      main {
         & > .container {
            width: 95%;
         }

         .pickmeup {
            .pmu-instance {
               font-size: 120%;
            }
         }
      }

      header {
         .nav-wrapper {
            justify-content: center;
         }
      }

      .row .col.s1 {
         width: 8.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.s2 {
         width: 16.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.s3 {
         width: 25%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.s4 {
         width: 33.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.s5 {
         width: 41.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.s6 {
         width: 50%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.s7 {
         width: 58.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.s8 {
         width: 66.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.s9 {
         width: 75%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.s10 {
         width: 83.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.s11 {
         width: 91.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.s12 {
         width: 100%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.offset-s1 {
         margin-left: 8.3333333333%;
      }
      .row .col.pull-s1 {
         right: 8.3333333333%;
      }
      .row .col.push-s1 {
         left: 8.3333333333%;
      }
      .row .col.offset-s2 {
         margin-left: 16.6666666667%;
      }
      .row .col.pull-s2 {
         right: 16.6666666667%;
      }
      .row .col.push-s2 {
         left: 16.6666666667%;
      }
      .row .col.offset-s3 {
         margin-left: 25%;
      }
      .row .col.pull-s3 {
         right: 25%;
      }
      .row .col.push-s3 {
         left: 25%;
      }
      .row .col.offset-s4 {
         margin-left: 33.3333333333%;
      }
      .row .col.pull-s4 {
         right: 33.3333333333%;
      }
      .row .col.push-s4 {
         left: 33.3333333333%;
      }
      .row .col.offset-s5 {
         margin-left: 41.6666666667%;
      }
      .row .col.pull-s5 {
         right: 41.6666666667%;
      }
      .row .col.push-s5 {
         left: 41.6666666667%;
      }
      .row .col.offset-s6 {
         margin-left: 50%;
      }
      .row .col.pull-s6 {
         right: 50%;
      }
      .row .col.push-s6 {
         left: 50%;
      }
      .row .col.offset-s7 {
         margin-left: 58.3333333333%;
      }
      .row .col.pull-s7 {
         right: 58.3333333333%;
      }
      .row .col.push-s7 {
         left: 58.3333333333%;
      }
      .row .col.offset-s8 {
         margin-left: 66.6666666667%;
      }
      .row .col.pull-s8 {
         right: 66.6666666667%;
      }
      .row .col.push-s8 {
         left: 66.6666666667%;
      }
      .row .col.offset-s9 {
         margin-left: 75%;
      }
      .row .col.pull-s9 {
         right: 75%;
      }
      .row .col.push-s9 {
         left: 75%;
      }
      .row .col.offset-s10 {
         margin-left: 83.3333333333%;
      }
      .row .col.pull-s10 {
         right: 83.3333333333%;
      }
      .row .col.push-s10 {
         left: 83.3333333333%;
      }
      .row .col.offset-s11 {
         margin-left: 91.6666666667%;
      }
      .row .col.pull-s11 {
         right: 91.6666666667%;
      }
      .row .col.push-s11 {
         left: 91.6666666667%;
      }
      .row .col.offset-s12 {
         margin-left: 100%;
      }
      .row .col.pull-s12 {
         right: 100%;
      }
      .row .col.push-s12 {
         left: 100%;
      }
   }
}

@mixin m {
   html {
      main {
         & > .container {
            width: 93%;
         }

         .pickmeup {
            .pmu-instance {
               font-size: 111%;
            }
         }
      }

      .row .col.m1 {
         width: 8.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.m2 {
         width: 16.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.m3 {
         width: 25%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.m4 {
         width: 33.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.m5 {
         width: 41.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.m6 {
         width: 50%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.m7 {
         width: 58.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.m8 {
         width: 66.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.m9 {
         width: 75%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.m10 {
         width: 83.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.m11 {
         width: 91.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.m12 {
         width: 100%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.offset.m1 {
         margin-left: 8.3333333333%;
      }
      .row .col.pull.m1 {
         right: 8.3333333333%;
      }
      .row .col.push.m1 {
         left: 8.3333333333%;
      }
      .row .col.offset.m2 {
         margin-left: 16.6666666667%;
      }
      .row .col.pull.m2 {
         right: 16.6666666667%;
      }
      .row .col.push.m2 {
         left: 16.6666666667%;
      }
      .row .col.offset.m3 {
         margin-left: 25%;
      }
      .row .col.pull.m3 {
         right: 25%;
      }
      .row .col.push.m3 {
         left: 25%;
      }
      .row .col.offset.m4 {
         margin-left: 33.3333333333%;
      }
      .row .col.pull.m4 {
         right: 33.3333333333%;
      }
      .row .col.push.m4 {
         left: 33.3333333333%;
      }
      .row .col.offset.m5 {
         margin-left: 41.6666666667%;
      }
      .row .col.pull.m5 {
         right: 41.6666666667%;
      }
      .row .col.push.m5 {
         left: 41.6666666667%;
      }
      .row .col.offset.m6 {
         margin-left: 50%;
      }
      .row .col.pull.m6 {
         right: 50%;
      }
      .row .col.push.m6 {
         left: 50%;
      }
      .row .col.offset.m7 {
         margin-left: 58.3333333333%;
      }
      .row .col.pull.m7 {
         right: 58.3333333333%;
      }
      .row .col.push.m7 {
         left: 58.3333333333%;
      }
      .row .col.offset.m8 {
         margin-left: 66.6666666667%;
      }
      .row .col.pull.m8 {
         right: 66.6666666667%;
      }
      .row .col.push.m8 {
         left: 66.6666666667%;
      }
      .row .col.offset.m9 {
         margin-left: 75%;
      }
      .row .col.pull.m9 {
         right: 75%;
      }
      .row .col.push.m9 {
         left: 75%;
      }
      .row .col.offset.m10 {
         margin-left: 83.3333333333%;
      }
      .row .col.pull.m10 {
         right: 83.3333333333%;
      }
      .row .col.push.m10 {
         left: 83.3333333333%;
      }
      .row .col.offset.m11 {
         margin-left: 91.6666666667%;
      }
      .row .col.pull.m11 {
         right: 91.6666666667%;
      }
      .row .col.push.m11 {
         left: 91.6666666667%;
      }
      .row .col.offset.m12 {
         margin-left: 100%;
      }
      .row .col.pull.m12 {
         right: 100%;
      }
      .row .col.push.m12 {
         left: 100%;
      }
   }
}

@mixin l {
   html {
      main {
         & > .container {
            width: 91%;
         }

         .pickmeup {
            .pmu-instance {
               font-size: 105%;
            }
         }
      }

      .row .col.l1 {
         width: 8.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.l2 {
         width: 16.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.l3 {
         width: 25%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.l4 {
         width: 33.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.l5 {
         width: 41.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.l6 {
         width: 50%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.l7 {
         width: 58.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.l8 {
         width: 66.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.l9 {
         width: 75%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.l10 {
         width: 83.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.l11 {
         width: 91.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.l12 {
         width: 100%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.offset.l1 {
         margin-left: 8.3333333333%;
      }
      .row .col.pull.l1 {
         right: 8.3333333333%;
      }
      .row .col.push.l1 {
         left: 8.3333333333%;
      }
      .row .col.offset.l2 {
         margin-left: 16.6666666667%;
      }
      .row .col.pull.l2 {
         right: 16.6666666667%;
      }
      .row .col.push.l2 {
         left: 16.6666666667%;
      }
      .row .col.offset.l3 {
         margin-left: 25%;
      }
      .row .col.pull.l3 {
         right: 25%;
      }
      .row .col.push.l3 {
         left: 25%;
      }
      .row .col.offset.l4 {
         margin-left: 33.3333333333%;
      }
      .row .col.pull.l4 {
         right: 33.3333333333%;
      }
      .row .col.push.l4 {
         left: 33.3333333333%;
      }
      .row .col.offset.l5 {
         margin-left: 41.6666666667%;
      }
      .row .col.pull.l5 {
         right: 41.6666666667%;
      }
      .row .col.push.l5 {
         left: 41.6666666667%;
      }
      .row .col.offset.l6 {
         margin-left: 50%;
      }
      .row .col.pull.l6 {
         right: 50%;
      }
      .row .col.push.l6 {
         left: 50%;
      }
      .row .col.offset.l7 {
         margin-left: 58.3333333333%;
      }
      .row .col.pull.l7 {
         right: 58.3333333333%;
      }
      .row .col.push.l7 {
         left: 58.3333333333%;
      }
      .row .col.offset.l8 {
         margin-left: 66.6666666667%;
      }
      .row .col.pull.l8 {
         right: 66.6666666667%;
      }
      .row .col.push.l8 {
         left: 66.6666666667%;
      }
      .row .col.offset.l9 {
         margin-left: 75%;
      }
      .row .col.pull.l9 {
         right: 75%;
      }
      .row .col.push.l9 {
         left: 75%;
      }
      .row .col.offset.l10 {
         margin-left: 83.3333333333%;
      }
      .row .col.pull.l10 {
         right: 83.3333333333%;
      }
      .row .col.push.l10 {
         left: 83.3333333333%;
      }
      .row .col.offset.l11 {
         margin-left: 91.6666666667%;
      }
      .row .col.pull.l11 {
         right: 91.6666666667%;
      }
      .row .col.push.l11 {
         left: 91.6666666667%;
      }
      .row .col.offset.l12 {
         margin-left: 100%;
      }
      .row .col.pull.l12 {
         right: 100%;
      }
      .row .col.push.l12 {
         left: 100%;
      }
   }
}

@mixin xl {
   html {
      main {
         & > .container {
            width: 89%;
         }

         .pickmeup {
            .pmu-instance {
               font-size: 95%;
            }
         }
      }

      .row .col.xl1 {
         width: 8.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.xl2 {
         width: 16.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.xl3 {
         width: 25%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.xl4 {
         width: 33.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.xl5 {
         width: 41.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.xl6 {
         width: 50%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.xl7 {
         width: 58.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.xl8 {
         width: 66.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.xl9 {
         width: 75%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.xl10 {
         width: 83.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.xl11 {
         width: 91.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.xl12 {
         width: 100%;
         margin-left: auto;
         left: auto;
         right: auto;
      }
      .row .col.offset.xl1 {
         margin-left: 8.3333333333%;
      }
      .row .col.pull.xl1 {
         right: 8.3333333333%;
      }
      .row .col.push.xl1 {
         left: 8.3333333333%;
      }
      .row .col.offset.xl2 {
         margin-left: 16.6666666667%;
      }
      .row .col.pull.xl2 {
         right: 16.6666666667%;
      }
      .row .col.push.xl2 {
         left: 16.6666666667%;
      }
      .row .col.offset.xl3 {
         margin-left: 25%;
      }
      .row .col.pull.xl3 {
         right: 25%;
      }
      .row .col.push.xl3 {
         left: 25%;
      }
      .row .col.offset.xl4 {
         margin-left: 33.3333333333%;
      }
      .row .col.pull.xl4 {
         right: 33.3333333333%;
      }
      .row .col.push.xl4 {
         left: 33.3333333333%;
      }
      .row .col.offset.xl5 {
         margin-left: 41.6666666667%;
      }
      .row .col.pull.xl5 {
         right: 41.6666666667%;
      }
      .row .col.push.xl5 {
         left: 41.6666666667%;
      }
      .row .col.offset.xl6 {
         margin-left: 50%;
      }
      .row .col.pull.xl6 {
         right: 50%;
      }
      .row .col.push.xl6 {
         left: 50%;
      }
      .row .col.offset.xl7 {
         margin-left: 58.3333333333%;
      }
      .row .col.pull.xl7 {
         right: 58.3333333333%;
      }
      .row .col.push.xl7 {
         left: 58.3333333333%;
      }
      .row .col.offset.xl8 {
         margin-left: 66.6666666667%;
      }
      .row .col.pull.xl8 {
         right: 66.6666666667%;
      }
      .row .col.push.xl8 {
         left: 66.6666666667%;
      }
      .row .col.offset.xl9 {
         margin-left: 75%;
      }
      .row .col.pull.xl9 {
         right: 75%;
      }
      .row .col.push.xl9 {
         left: 75%;
      }
      .row .col.offset.xl10 {
         margin-left: 83.3333333333%;
      }
      .row .col.pull.xl10 {
         right: 83.3333333333%;
      }
      .row .col.push.xl10 {
         left: 83.3333333333%;
      }
      .row .col.offset.xl11 {
         margin-left: 91.6666666667%;
      }
      .row .col.pull.xl11 {
         right: 91.6666666667%;
      }
      .row .col.push.xl11 {
         left: 91.6666666667%;
      }
      .row .col.offset.xl12 {
         margin-left: 100%;
      }
      .row .col.pull.xl12 {
         right: 100%;
      }
      .row .col.push.xl12 {
         left: 100%;
      }
   }
}

//#####

@media only screen and (max-width: 500px) and (max-resolution: 40dpcm) {
   body {
      main, header, footer {
         line-height: 1.4;
         font-size: 11px;

         .collection {
            .collection-item {
               &.avatar:not(.circle-clipper) > .circle,
               &.avatar :not(.circle-clipper) > .circle {
                  transform: translate(-2px, -2px) scale(0.85);
               }
            }
         }

         .chip {
            border-radius: 20px;
            line-height: 230%;
         }

         nav {
            height: 64px;
            line-height: 64px;
         }

         .moon {
            border-bottom-color: aqua;
         }
      }
   }

   @include s
}

@media only screen and (min-width: 500px) and (max-width: 900px) and (max-resolution: 40dpcm) {
   body {
      line-height: 1.4;
      font-size: 12.5px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(-2px, -2px) scale(0.87);
            }
         }
      }

      .chip {
         border-radius: 21px;
         line-height: 230%;
      }

      nav {
         height: 64px;
         line-height: 64px;
      }

      .moon {
         border-bottom-color: CadetBlue;
      }
   }

   @include m
}

@media only screen and (min-width: 900px) and (max-width: 1400px) and (max-resolution: 40dpcm) {
   body {
      line-height: 1.4;
      font-size: 14px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(0, 0) scale(1);
            }
         }
      }

      .chip {
         border-radius: 25px;
         line-height: 230%;
      }

      .run-intro.btn-large {
         transform: translate(-3px, -3px) scale(1.1);
      }

      nav {
         height: 64px;
         line-height: 64px;
      }

      .moon {
         border-bottom-color: CornflowerBlue;
      }
   }

   @include l
}

@media only screen and (min-width: 1400px) and (max-width: 1800px) and (max-resolution: 40dpcm) {
   body {
      line-height: 1.25;
      font-size: 16px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(3px, 3px) scale(1.15);
            }
         }
      }

      .chip {
         border-radius: 33px;
         line-height: 230%;
      }

      .run-intro.btn-large {
         transform: translate(-3px, -3px) scale(1.1);
      }

      nav {
         height: 64px;
         line-height: 64px;
      }

      .moon {
         border-bottom-color: blue;
      }
   }

   @include l
}

@media only screen and (min-width: 1800px) and (max-resolution: 40dpcm) {
   body {
      line-height: 1.25;
      font-size: 18px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(5px, 5px) scale(1.2);
            }
         }
      }

      .chip {
         border-radius: 40px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-6px, -6px) scale(1.2);
      }

      nav {
         height: 64px;
         line-height: 64px;
      }

      .moon {
         border-bottom-color: DarkBlue;
      }
   }

   @include xl
}

@media only screen and (max-width: 650px) and (min-resolution: 40dpcm) and (max-resolution: 55dpcm) {
   body {
      line-height: 1.25;
      font-size: 20px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(9px, 9px) scale(1.35);
            }
         }
      }


      .chip {
         border-radius: 48px;
         line-height: 230%;
      }

      .run-intro.btn-large {
         transform: translate(-9px, -9px) scale(1.3);
      }

      nav {
         height: 80px;
         line-height: 80px;
      }

      .moon {
         border-bottom-color: LawnGreen;
      }
   }

   @include s
}

@media only screen and (min-width: 650px) and (max-width: 1000px) and (min-resolution: 40dpcm) and (max-resolution: 55dpcm) {
   body {
      line-height: 1.25;
      font-size: 22px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(12px, 12px) scale(1.5);
            }
         }
      }

      .chip {
         border-radius: 40px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-12px, -12px) scale(1.4);
      }

      nav {
         height: 80px;
         line-height: 80px;
      }

      .moon {
         border-bottom-color: Chartreuse;
      }
   }

   @include m
}

@media only screen and (min-width: 1000px) and (max-width: 1500px) and (min-resolution: 40dpcm) and (max-resolution: 55dpcm) {
   body {
      line-height: 1.25;
      font-size: 25px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(17px, 17px) scale(1.7);
            }
         }
      }

      .chip {
         border-radius: 45px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-13px, -13px) scale(1.45);
      }

      nav {
         height: 80px;
         line-height: 80px;
      }

      .moon {
         border-bottom-color: MediumSeaGreen;
      }
   }

   @include l
}

@media only screen and (min-width: 1500px) and (max-width: 2200px) and (min-resolution: 40dpcm) and (max-resolution: 55dpcm) {
   body {
      line-height: 1.25;
      font-size: 29px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(17px, 17px) scale(1.7);
            }
         }
      }

      .chip {
         border-radius: 50px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-14px, -14px) scale(1.5);
      }

      nav {
         height: 80px;
         line-height: 80px;
      }

      .moon {
         border-bottom-color: ForestGreen;
      }
   }

   @include xl
}

@media only screen and (min-width: 2200px) and (min-resolution: 40dpcm) and (max-resolution: 55dpcm) {
   body {
      line-height: 1.25;
      font-size: 35.5px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(30px, 30px) scale(2.2);
            }
         }
      }

      .chip {
         border-radius: 55px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-15px, -15px) scale(1.55);
      }

      nav {
         height: 80px;
         line-height: 80px;
      }

      .moon {
         border-bottom-color: DarkGreen;
      }
   }

   @include xl
}

@media only screen and (max-width: 1000px) and (min-resolution: 55dpcm) and (max-resolution: 80dpcm) {
   body {
      line-height: 1.2;
      font-size: 33.5px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(30px, 30px) scale(2.2);
            }
         }
      }

      .chip {
         border-radius: 55px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-25px, -25px) scale(2.55);
      }

      nav {
         height: 150px;
         line-height: 150px;
      }

      .moon {
         border-bottom-color: HotPink;
      }
   }

   @include s
}

@media only screen and (min-width: 1000px) and (max-width: 1500px) and (min-resolution: 55dpcm) and (max-resolution: 80dpcm) {
   body {
      line-height: 1.25;
      font-size: 36px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(35px, 35px) scale(2.5);
            }
         }
      }

      .chip {
         border-radius: 59px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-18px, -18px) scale(1.7);
      }

      nav {
         height: 110px;
         line-height: 110px;
      }

      .moon {
         border-bottom-color: magenta;
      }
   }

   @include m
}

@media only screen and (min-width: 1500px) and (max-width: 2200px) and (min-resolution: 55dpcm) and (max-resolution: 80dpcm) {
   body {
      line-height: 1.25;
      font-size: 39px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(40px, 40px) scale(2.65);
            }
         }
      }

      .chip {
         border-radius: 63px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-20px, -13px) scale(1.8);
      }

      nav {
         height: 110px;
         line-height: 110px;
      }

      .moon {
         border-bottom-color: red;
      }
   }

   @include l
}

@media only screen and (min-width: 2200px) and (max-width: 3000px) and (min-resolution: 55dpcm) and (max-resolution: 80dpcm) {
   body {
      line-height: 1.2;
      font-size: 43px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(45px, 45px) scale(3);
            }
         }
      }

      .chip {
         border-radius: 68px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-22px, -22px) scale(1.9);
      }

      nav {
         height: 110px;
         line-height: 110px;
      }

      .moon {
         border-bottom-color: BlueViolet;
      }
   }

   @include xl
}

@media only screen and (min-width: 3000px) and (min-resolution: 55dpcm) and (max-resolution: 80dpcm) {
   body {
      line-height: 1.2;
      font-size: 48px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(50px, 50px) scale(3.2);
            }
         }
      }

      .chip {
         border-radius: 68px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-22px, -22px) scale(1.9);
      }

      nav {
         height: 110px;
         line-height: 110px;
      }

      .moon {
         border-bottom-color: DarkMagenta;
      }
   }

   @include xl
}

@media only screen and (max-width: 1200px) and (min-resolution: 80dpcm) and (max-resolution: 120dpcm) {
   body {
      line-height: 1.15;
      font-size: 50px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(53px, 53px) scale(3.3);
            }
         }
      }

      .chip {
         border-radius: 80px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-24px, -24px) scale(2);
      }

      nav {
         height: 128px;
         line-height: 128px;
      }

      .moon {
         border-bottom-color: AntiqueWhite;
      }
   }

   @include s
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) and (min-resolution: 80dpcm) and (max-resolution: 120dpcm) {
   body {
      line-height: 1.15;
      font-size: 54px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(60px, 60px) scale(3.6);
            }
         }
      }

      .chip {
         border-radius: 78px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-33px, -33px) scale(2.5);
      }

      nav {
         height: 145px;
         line-height: 145px;
      }

      .moon {
         border-bottom-color: BurlyWood;
      }
   }

   @include m
}

@media only screen and (min-width: 2000px) and (max-width: 3000px) and (min-resolution: 80dpcm) and (max-resolution: 120dpcm) {
   body {
      line-height: 1.15;
      font-size: 59px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(65px, 65px) scale(3.8);
            }
         }
      }

      .chip {
         border-radius: 85px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-35px, -35px) scale(2.6);
      }

      nav {
         height: 155px;
         line-height: 155px;
      }

      .moon {
         border-bottom-color: Gold;
      }
   }

  @include l
}

@media only screen and (min-width: 3000px) and (max-width: 4000px) and (min-resolution: 80dpcm) and (max-resolution: 120dpcm) {
   body {
      line-height: 1.15;
      font-size: 64px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(70px, 70px) scale(4);
            }
         }
      }

      .chip {
         border-radius: 90px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-36px, -36px) scale(2.7);
      }

      nav {
         height: 165px;
         line-height: 165px;
      }

      .moon {
         border-bottom-color: Chocolate;
      }
   }

   @include xl
}

@media only screen and (min-width: 4000px) and (min-resolution: 80dpcm) and (max-resolution: 120dpcm) {
   body {
      line-height: 1.15;
      font-size: 70px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(77px, 77px) scale(4.2);
            }
         }
      }

      .chip {
         border-radius: 95px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-38px, -38px) scale(2.9);
      }

      nav {
         height: 180px;
         line-height: 180px;
      }

      .moon {
         border-bottom-color: Brown;
      }
   }

   @include xl
}

@media only screen and (max-width: 3000px) and (min-resolution: 120dpcm) {
   body {
      line-height: 1.1;
      font-size: 75px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(85px, 85px) scale(4.5);
            }
         }
      }

      .chip {
         border-radius: 100px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-40px, -40px) scale(3);
      }

      nav {
         height: 200px;
         line-height: 200px;
      }

      .moon {
         border-bottom-color: yellow;
      }
   }

   @include s
}

@media only screen and (min-width: 3000px) and (min-resolution: 120dpcm) {
   body {
      line-height: 1.1;
      font-size: 85px;

      .collection {
         .collection-item {
            &.avatar:not(.circle-clipper) > .circle,
            &.avatar :not(.circle-clipper) > .circle {
               transform: translate(95px, 95px) scale(5);
            }
         }
      }

      .chip {
         border-radius: 110px;
         line-height: 200%;
      }

      .run-intro.btn-large {
         transform: translate(-45px, -45px) scale(3.5);
      }

      nav {
         height: 200px;
         line-height: 200px;
      }

      .moon {
         border-bottom-color: DarkOrange;
      }
   }

   @include l
}

// ------

html {
   main {
      overflow-x: hidden;

      & > .container {
         margin-top: 20px;
      }
   }

   p#notice {
      margin: 0;
   }

   a {
      color: $smooth_dark;
   }

   a[href] {
      color: $soft_blue;
   }

   .flex {
      display: flex;
      height: 4.5rem;
   }

   .enrighten {
      margin: auto !important;
      margin-right: 0 !important;
   }

   // buttons
   .col.bar {
      float: right;
   }

   .btn, .btn-large, .btn-small {
      background-color: $darken_terracota;

      &:hover, .btn-large:hover {
         background-color: $terracota;
      }

      &:focus, .btn-large:focus {
         background-color: $lighten_terracota;
      }

      &.disabled, .btn-large.disabled {
         background-color: $grayed_terracota !important;
      }

      &.close {
         background-color: $grayed_terracota;
      }
   }

   .col > .row {
      padding: inherit;
   }

   body > .pickmeup, .row:empty, .chip:empty, .hidden, ul.indicators {
      display: none !important;
   }

   .in-progress {
      cursor: progress;
   }

   .disabled {
      pointer-events: none;
      color: #ccc;
   }

   .terracota {
      background-color: $terracota !important;
   }

   .gold {
      background-color: $gold !important;
   }

   .title {
      font-weight: bold;
   }

   .centering {
      text-align: center;
   }

   .flow-text {
      margin-top: 0;
      font-family: "Source Sans Pro", sans;
      font-size: 100%;
   }

   .material-icons + .toast-wrapper {
      display: none;
   }

   .moon {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(30px, -30px) rotate(0.125turn);
      width: 0px;
      height: 0px;
      border: 30px solid transparent;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      background: none;

      //background: $mooncolor;
      //background: #a8aeb3;
      box-shadow: 0 0 20px #24b4ff,
      inset 0 0 1vw #fff
   }

   header, main, footer {
      padding-left: 0 !important;
   }

   header {
      .nav-wrapper {
         height: 64px;
         line-height: inherit;
         display: flex;
         align-items: center;
         overflow: hidden;

         .brand-logo {
            padding-left: 10px;
            padding-right: 10px;
            line-height: initial;
            transform: none;
            left: auto;
         }

         .sign-in {
            top: 4px;
            right: 4px;
            background-color: $darken_terracota;
            position: relative;

            img {
               line-height: 56px;
               width: 56px;
               height: 56px;
            }

            .tap-target-wrapper {
               &:not(.open) {
                  img {
                     display: none;
                  }
               }

               .tap-target-content {
                  p {
                     padding-left: 2em;
                     line-height: normal;
                  }
               }
            }
         }
      }
   }

   .input-field label:not(.label-icon).active {
      height: 4.5rem;
   }

   .select-wrapper + label {
      position: absolute;
      top: 0;
      left: 0;
      height: 4.5rem;
      font-size: 100%;
      cursor: text;
      transition: transform .2s ease-out;
      transform-origin: 0% 100%;
      text-align: initial;
      transform: translateY(12px);
      pointer-events: none;
   }

   // this should be fixed in various cases
   .error {
      color: #F44336;
      opacity: 1;
      transition: .2s opacity ease-out, .2s color ease-out;
      box-sizing: inherit;
      white-space: nowrap;
      font-size: 80%;
   }

   label.active .error {
      font-size: 100%;
   }

   .input-field {
      & > .material-icons {
         padding-top: 10px;
      }

      & > .chip {
         margin-top: 10px;
         width: -webkit-fill-available;
      }

      // defaunlt color of form labels
      /* label color */
      label {
         color: #000;
      }

      .invalid + label.active:after {
         display: none !important;
      }

      input[type=text]:not(.browser-default):not([readonly]) {
         /* label focus color */
         &:focus + label {
            color: $soft_blue;
         }

         /* label underline focus color */
         &:focus {
            border-bottom: 1px solid $soft_blue;
            box-shadow: 0 1px 0 0 $soft_blue;
         }

         /* valid color */
         &.valid {
            border-bottom: 1px solid $soft_blue;
            box-shadow: 0 1px 0 0 $soft_blue;
         }

         /* invalid color */
         &.invalid {
            border-bottom: 1px solid $error_color;
            box-shadow: 0 1px 0 0 $error_color;
         }
      }

      .select-wrapper + label {
         height: 3.5rem;
      }

      /* icon prefix focus color */
      .prefix.active {
         color: $soft_blue;
      }

      select {
         display: block;
         height: 0;
         width: 0;
         padding: 0;
         border: none;
      }

      input[type="search"] {
         width: calc(100% - 2.5rem);
         padding-left: 0;
         margin-bottom: 0;

         &:focus {
            border-style: none none dotted;
            border-width: medium medium 1px;
         }
      }

      .error {
         @extend .error;
         transform: translateY(9px);
         position: absolute;
         top: 100%;
         left: 0;

         &:empty {
            display: none;
         }
      }
   }

   .fake-input-field {
      position: relative;
      margin-top: 2rem;

      [type="checkbox"]:checked + label:before {
         border-right: 2px solid $soft_blue;
         border-bottom: 2px solid $soft_blue;
      }
   }


   .list {
      tbody {
         td.actions {
            i.material-icons {
               cursor: pointer;
               color: $terracota;
            }
         }
      }
   }

   .form-modal {
      width: 90% !important;
      left: 5% !important;
      margin: 0 !important;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.98) none repeat scroll 0 0;
      filter: alpha(opacity=0.98);
      display: block !important;
      opacity: 0.98 !important;
      max-height: none;
      top: -9999 !important;
      height: 0;
      border: none;

      .modal-content {
         padding: 1em;
         overflow-x: hidden;
      }

      .modal-footer {
         padding: 1em;
         height: 5em;
      }

      &.open {
         top: 5% !important;
         height: 90% !important;
         border: outset #e7f3ff 1px;
         border-radius: 3px;
      }

      form {
         h5 {
            line-height: 100%;
            font-size: 125%;
         }

         .row {
            margin-bottom: 0.5em;
         }
      }
   }

   .chip {
      //white-space: nowrap;
      font-size: 90%;
      color: $smooth_dark;
      height: auto;

      &.year-date {
         padding: 0 5px 0 5px;
         background-color: #f8f8f8 !important;
      }

      &.date {
         background-color: #f8f8f8 !important;
      }

      &.calendary {
         background-color: #f0f8ff !important;
      }

      .close {
         line-height: inherit;
         font-size: inherit;
      }

      .unfix {
         line-height: inherit;
         font-size: inherit;
         cursor: pointer;
         float: right;
         padding-left: 8px;
      }

      span {
         display: inline;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         margin-left: 3px;
         margin-right: 3px;
      }
   }
}
