= react_component 'Memoes', memoes: Admin::MemoesSerializer.new( @objects,
                                                                 total: @objects.total_count,
                                                                 page: @page,
                                                                 locales: @locales,
                                                                 serializer: Admin::MemoSerializer ),
                            locales: @locales
