= react_component 'Memories', memories: MemoriesSerializer.new( @objects, total: @objects.total_count, page: @page, locales: @locales, serializer: Admin::MemorySerializer ),
                              locales: @locales
